@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{ //hace referencia a las etiquetas <a>href=""</a> en las paginas de login/registro... etc.
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    &__Centrar{
        @extend .acciones;
        justify-content: center;
    }
    &__enlace{
        //color: v.$negro;
        color: v.$grisoscuro;
        font-size: 1.4rem;
        font-weight: v.$delgada;
    }
}