@use 'base/variables' as v;
@use 'base/mixins' as m;

.btnsmall{
    @include m.btn(v.$grisblack, v.$blanco);
    width: auto;
}
.btnsmallazul{
    @include m.btn(v.$azul, v.$blanco);
    width: auto;
}
.btnsmallazulturquia{
    @include m.btn(v.$secundario, v.$blanco);
    width: auto;
}
.btnsmallred{
    @include m.btn(v.$barprogress, v.$blanco);
    width: auto;
}
.btnmini{
    @include m.btn1(v.$barprogress, v.$blanco);
    width: auto;
}