@use 'base/variables' as v;
@use 'base/mixins' as m;

.modalform{  //class agregada en clientes.js en citas.js, facturacion.js y finalizcita.js
    .orden{ //class en finalizcita.js
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }
    .nameuser{ //class en finalizcita.js
        font-size: 1.3rem;
    }
    .nameservice{ //class en finalizcita.js
        font-size: 1.3rem;
    }
    .precio{ //class en finalizcita.js
        font-size: 1.4rem;
        font-weight: 600;
    }
    .cliente__campohoras{
        padding: 0 0 1rem 0;
    }
    .formulario__campo{
        gap: 0.3rem;
        margin-bottom: 1.1rem;
        .formulario__label{
            text-align: left;
            font-size: 1.4rem;
        }
    }
    #devolucion{
        color: v.$barprogress;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .clientes-btn{
        @include m.btn(v.$secundario, v.$blanco);
        align-self: center;
        width: auto;
    }
    .formulario__campo-2r{
        display: flex;
        .formulario__campo{
            width: 13rem;
            margin: 0 auto;
        }
    }
    .formulario__imprimir{
        display: flex;
        gap: 2rem;
        margin: 0 auto;
    }
}

.select2-dropdown {
    z-index: 1061;
  }