// Fuentes
$fuente-principal: "Poppins",sans-serif;//'Outfit', sans-serif;
$fuente-secundaria: 'Ubuntu', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$xl_tablet: 992px;
$desktop: 1024px;
$xl_desktop: 1200px;
$xxl_desktop: 1550px;

// Colores
$barprogress: rgb(240, 101, 72);
$rojo: #ff0000;
$rosa: #d2095d;
$verde1: #02db02;
$verde2:#329f00;
$verdeclaro: #d3f800;
$azul: #007df4;
$azul1: #0da6f3;
$azul2: #3d72fc;
$azul3: #3564db;
$azulclaro: #eff2f7;
$azuloscuro: #051453;
$sidebar1: #0c213a; 
$sidebar2: #064CDB;
$sidebar3: #30419b; //utilizado en el sidebar
$sidebar4: #244f96;
$iconos: #7081b9; 
$secundario: #00c8c2;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$grisclaro: #e1e1e1;
$griswhite: #F3F3F3;
$grisraton: #a5a5a5;
$grisoscuro: #585858;
$grisblack: #1E293B;



// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900