@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineaencabezado {
    font-family: v.$fuente-secundaria;
    background-color: v.$azuloscuro;
    padding: 1.1rem 3rem;
    color:v.$azulclaro;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    h1 {
        font-size: 2.5rem;
    }
}
.mensajetitulo {
    @include m.desktop { 
        padding: 0 13rem;
    }
}
.auth{
    
    /*max-width: 35rem;
    width: 100%;
    margin: 0 auto;*/
    // padding: 2rem;
    &__mensaje {
        margin: 0 1.5rem;
        @include m.desktop { 
            padding: 0 13rem;
        }
        p {
            text-align: justify;
            line-height: 1.4;
        }
    }
    h2 {
        margin: 3rem 1.5rem 2rem 1.5rem;
    }
    &__btnatras{
        background-color: #768797ad;
        color: v.$blanco;
        padding: 1rem 2rem;
        border-radius: .35rem;
        &:hover {
            background-color: v.$azuloscuro;
        }
    }
    &__logocliente {
        width: 15rem;
    }
    &__heading{
        margin-top: 1rem;
        color: v.$azuloscuro;
        text-transform: uppercase;
    }
    &__texto{
        margin-top: 0rem;
        color: v.$grisraton;
    }
    .formulario{

        &__campo{
            gap: .3rem;
            margin-bottom: 1.1rem;
        }
        &__label{
            font-size: 1.4rem;
        }
        &__input{
            padding: 1.5rem 1rem;
        }
    }
}

.bloqueauth {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    @include m.tablet { 
        padding: 0 4rem;
    }
    @include m.desktop { 
        padding: 0 7rem;
    }
    
    &__btnregresar {
       max-width: 11rem;
       margin-top: 1rem;
       margin-left: 1rem;
       text-align: center;
       padding: 1.5rem 0;
    }
    &__logocliente {
        align-items: center;
        max-width: 17rem;
        margin: 1.3rem auto;
    }
    &__iniciarsesion {
        color: v.$azuloscuro;
        text-align: center;
        text-transform: capitalize;
        font-size: 2.5rem;
    }
    &__subtitulo {
        text-align: center;
        margin-top: 1.2rem;
    }
}

.bloqueformulario {
    margin: 0 2.2rem;
    @include m.desktop { 
        padding: 0 20rem;
    }
}
