@use 'base/variables' as v;
@use 'base/mixins' as m;

.cambiarpassword{
    @include m.contenedor100;
    &__contenedor{
        background-color: v.$blanco;
        padding: 1rem
    }
    &__contenido{
        @include m.contenedor-sm;
        padding: 1rem 0;
    }
}