@use 'base/mixins' as m;
@use 'base/variables' as v;

.tiemposervicio{
    margin-top: 1rem;

    form{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }
}