@use 'base/variables' as v;
@use 'base/mixins' as m;

.citas{
    background-color: v.$blanco;
    padding: 1rem;
    &__contenedor{
        @include m.contenedor100;
    }

    &__acciones{
        display: flex;
        flex-direction: column;
        //gap: 2rem;
        margin-bottom: 1rem;
        @include m.xl_tablet{
            flex-direction: row;
            justify-content: space-between;
            //align-items: center;
            gap: 1rem;
        }
       // margin-bottom: 1rem;
    }

    &__crear{
       // align-self: center;
       a{
           white-space: nowrap;
       }
       border-bottom: 1px solid v.$grisclaro;
       padding-bottom: 1rem;
       @include m.xl_tablet{
           border-bottom: none;
       }
       text-align: center;
    }

    &__filtros{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include m.tablet{
            flex-direction: row;
            justify-content: space-around;
            gap: 3rem;
            border-bottom: 1px solid v.$grisclaro;
        }
        padding: 1rem 0;
        @include m.xl_tablet{
            gap: 5rem;
            border-bottom: none;
            padding: 0;
        }
    }

    &__contenedorprofesional{
        p{
            margin: 0 0 .5rem 0;
            text-align: center;
            color: v.$grisoscuro;
        }
        border-bottom: 1px solid v.$grisclaro;
        padding-bottom: 1rem;
        @include m.tablet{
            border-bottom: none;
            padding: 0; 
        }
    }

    &__profesional{
        //text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .formulario__select{
           // max-width: 20rem;
           width: 100%;
           max-width: 26rem;
        }
    }
    &__consultar{
        //margin-top: .4rem;
        //text-align: center;
    }

    &__busqueda{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid v.$grisclaro;
        @include m.tablet{
            border-bottom: none;
            padding: 0; 
        }
        .btn_busqueda{
            margin-top: .4rem;
            display: flex;
            justify-content: center;
            .formulario__input{
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
                width: auto;
                @include m.tablet{
                    width: 100%;
                }
            }
            label{
                padding: 0 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid darken(v.$grisclaro, 20);
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
                border-left: none;
            }
            #estado, #nombre{
                display: none;
            }
        }
    }
    &__fecha{
        @include m.tablet{
            margin-top: 1rem;
        }
        @include m.xl_tablet{
            margin-top: 0rem;
        }
        .formulario__label{
            margin-bottom: .8rem;
        }
    }

    &__tabla{
        overflow-x: scroll;
    }
}

///////////////estilos del modal del detalle del recibo en citas./////////////////

.recibo{
    &__datos{
        margin-top: 1rem;
    }
    &__dato{
        display: flex;
        align-items: center;
    }
    &__titulo{
        margin: 0 0 0 0;
        font-size: 1.4rem;
        color: v.$grisoscuro;
        font-weight: 600;
    }
    &__texto{
        margin: 0 0 0 .5rem;
        font-size: 1.4rem;
    }
}