@use 'base/variables' as v;
@use 'base/mixins' as m;

.citas{
    &__contenedor{
        @include m.contenedor100;
    }

    &__acciones{
        display: flex;
        flex-direction: column;
        //gap: 2rem;
        margin-bottom: 1rem;
        @include m.xl_tablet{
            flex-direction: row;
            justify-content: space-between;
            //align-items: center;
            gap: 1rem;
        }
       // margin-bottom: 1rem;
    }

    &__crear{
       // align-self: center;
       a{
           white-space: nowrap;
       }
       border-bottom: 1px solid v.$grisclaro;
       padding-bottom: 1rem;
       @include m.xl_tablet{
           padding-bottom: 0;
           border-bottom: none;
           a{
               display: block;
               &:nth-of-type(1){
                   margin-bottom: 1rem;
               }
           }
       }
       text-align: center;
    }

    &__filtros{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include m.tablet{
            flex-direction: row;
            justify-content: space-around;
            gap: 3rem;
            border-bottom: 1px solid v.$grisclaro;
        }
        padding: 1rem 0;
        @include m.xl_tablet{
            gap: 5rem;
            border-bottom: none;
            padding: 0;
        }
    }

    &__contenedorprofesional{
        p{
            margin: 0 0 .5rem 0;
            text-align: center;
            color: v.$grisoscuro;
        }
        border-bottom: 1px solid v.$grisclaro;
        padding-bottom: 1rem;
        @include m.tablet{
            border-bottom: none;
            padding: 0; 
        }
    }

    &__profesional{
        //text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .formulario__select{
           // max-width: 20rem;
           width: 100%;
           max-width: 26rem;
        }
    }
    &__consultar{
        //margin-top: .4rem;
        //text-align: center;
    }

    &__busqueda{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid v.$grisclaro;
        @include m.tablet{
            border-bottom: none;
            padding: 0; 
        }
        .btn_busqueda{
            margin-top: .4rem;
            display: flex;
            justify-content: center;
            .formulario__input{
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
                width: auto;
                @include m.tablet{
                    width: 100%;
                }
            }
            label{
                padding: 0 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid darken(v.$grisclaro, 20);
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
                border-left: none;
            }
            #estado, #nombre{
                display: none;
            }
        }
    }
    &__fecha{
        @include m.tablet{
            margin-top: 1rem;
        }
        @include m.xl_tablet{
            margin-top: 0rem;
        }
        .formulario__label{
            margin-bottom: .8rem;
        }
    }

    /////////////////////tabla citas///////////////////////

    &__tabla{
        overflow-x: scroll;
        display: none;
    }

    //////////////////nuevas citas/////////////////////////
    &__controls{
        padding: 1rem;
        background-color: v.$blanco;
        margin-bottom: 1rem;
        @include m.tablet{
            display: flex;
            justify-items: center;
            justify-content: space-around;
        }
    }
    &__btnscrearcitas{
        text-align: center;
        margin-bottom: 1rem;
        @include m.tablet{
            margin: 0;
        }
    }
    &__ctrlsfiltros{
            display: flex;
            justify-content: center;
            align-items: center; 
            gap: 2rem;
            @include m.tablet{
                gap: 3rem;
            }
        .campos{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: .5rem;
            @include m.tablet{
                gap: .8rem;
            }
            label{
                font-size: 1.2rem;
            }
            input[type="radio"]{
            //    accent-color: v.$indigo;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
    &__contenido{
        padding: 1rem;
        background-color: v.$blanco;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include m.tabletl{
            flex-direction: row;
            //gap: 1rem;
        }
        
    }

    &__contenidoul{
        flex: 1;
    }
    &__lista{  //ul
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @include m.xl_desktop{
            @include m.grid(2, 1rem);
        }
        .listacita{  //li
            flex-grow: 1;
            min-width: 27rem;
            flex: 1;
        }
        .listacita-content{
            border: 1px solid v.$grisclaro;
            border-radius: 2rem;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            .col1{
                color: v.$grisoscuro;
                .servicio{
                    background-color: v.$grisclaro;
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .col2{
                text-align: center;
                .estadocita{
                    color: v.$blanco;
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .citapendiente{
                    background-color: v.$azul;
                }
                .citafinalizada{
                    background-color: v.$azuloscuro;
                }
                .hora{
                    color: v.$grisraton;
                }
                #reprogramar{
                    font-size: 2rem;
                    color: v.$secundario;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            p{
                margin: 0 0 .5rem;
            }
            
        }

    }
    ////////////////////estilo a las horas de las citas de los modales///////////////////////
    &__campohoras{
        @include m.grid(2, 2rem);
        @include m.tablet{
            @include m.grid(3, 2rem);
        }
        @include m.xl_tablet{
            @include m.grid(4, 2rem);
        }
        //border: 1px solid v.$grisclaro;
        padding: 1rem;
        &.dianodisponible-js{
            display: block;
        }
    }
    &__hora{
        //border: 1px solid v.$grisclaro;
        border-radius: 1rem;
        background-color: v.$griswhite;
        .texthora{
            color: v.$grisoscuro;
            text-align: center;
            font-size: 1.5rem;
            margin: 0;
            padding: .8rem 0;
        }
        &:hover{
            background-color: v.$azul;
            //border: 1px solid v.$azul;
            cursor: pointer;
            .texthora{
                color: v.$blanco;
            }
        }
        &.horaselect{ // class agregada en citas.js
            background-color: v.$azul;
            .texthora{
                color: v.$blanco;
            }
        }
        &.horaselected{
            background-color: v.$iconos;
            p{color: v.$blanco;}
        }
    }
}

///////////////estilos del modal del detalle del recibo en citas./////////////////

.recibo{
    &__datos{
        margin-top: 1rem;
    }
    &__dato{
        display: flex;
        
    }
    &__titulo{
        margin: 0 0 0 0;
        font-size: 1.4rem;
        color: v.$grisoscuro;
        font-weight: 600;
        white-space: nowrap;
    }
    &__texto{
        margin: 0 0 0 .5rem;
        font-size: 1.4rem;
        text-align: left;
    }

}